/external
/build*
*.pyc
/tools/python/venv/
/.settings
/.metadata
/.cproject
/.project
/.pydevproject
.project
venv*
tools/python/.coverage
*.egg-info/

.idea/
cmake-build*/
.vscode/

tools/imagej/plugins/*
!tools/imagej/plugins/Odin-Data/
tools/imagej/plugins/Odin-Data/*.class
tools/imagej/plugins/Odin-Data/bin/*
tools/imagej/plugins/Odin-Data/load_java.sh
*.jar
