/external
/build*
*.pyc
/tools/python/venv/
/.settings
/.metadata
/.cproject
/.project
/.pydevproject
.project
venv*
tools/python/.coverage
*.egg-info/

.idea/
cmake-build*/
.vscode/

tools/imagej/plugins/*
!tools/imagej/plugins/Odin-Data/
tools/imagej/plugins/Odin-Data/build/**
*.jar
tools/imagej/odin-imagej
tools/imagej/build/
