*~
build_name*
prefix/
/external
/build*
*.pyc
/tools/python/venv/
/tools/python/build/
/tools/python/dist/
/.settings
/.metadata
/.cproject
/.project
/.pydevproject
.project
venv*
tools/python/.coverage
*.egg-info/

.idea/
cmake-build*/
.vscode/
