# Name: Live_View
# Author: Adam Neaves
# Version: 0.1
# Date: 2018/11/22
# Requires: ImageJ 1.31s
# Generated the jar file using: "jar -cfm Live_View.jar MANIFEST.MF plugins.config -C bin/ ."

Plugins>Odin Live View, "Run Live View", Live_View
Help>About Plugins, "Odin Live View", Live_View("Help")
